@charset "UTF-8";

@layer {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    background-repeat: no-repeat;
  }

  * {
    padding: 0;
    margin: 0;
  }

  html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    block-size: 100%;
    color-scheme: light dark;
  }

  body {
    min-block-size: 100%;
  }

  img {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p {
    text-wrap: pretty;
    font-variant-numeric: proportional-nums;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-variant-numeric: lining-nums;
  }

  p,
  blockquote,
  q,
  figcaption,
  li {
    hanging-punctuation: first allow-end last;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }
}

:root {
  --font-header: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
  --font-body: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
  font-weight: normal;
}

html {
  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Minor third */
h1 {
  font-size: 2.488em;
}
h2 {
  font-size: 2.074em;
}
h3 {
  font-size: 1.728em;
}
h4 {
  font-size: 1.44em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1em;
}
small {
  font-size: 0.833em;
}

h1,
h2,
h3 {
  font-family: var(--font-header);
  line-height: 3rem;
}

p,
ul,
ol,
dl,
table,
blockquote,
pre,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5rem 0 0;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

hr {
  margin: 0;
  border: none;
  padding: 1.5rem 0 0;
}

/* Colors */

body {
  background: light-dark(#fff, #1a1a1a);
  color: light-dark(#222, #e0e0e0);
}
a {
  color: light-dark(#00e, #8ab4f8);
}
a:visited {
  color: light-dark(#60b, #c58af9);
}
small {
  color: light-dark(#666, #999);
}

/* Layout */

body {
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 60rem;
}

img {
  max-inline-size: 12rem;
}

/* Lists */

ul,
ol {
  padding: 0 0 0 3ch;
}

ul > li {
  list-style-type: disc;
}
ol > li {
  list-style-type: decimal;
}

/* Links */

a {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em;
  text-decoration-color: light-dark(#00e4, #8ab4f84d);
}
a:hover {
  text-decoration-color: currentColor;
}

/* Focus */

:focus-visible {
  outline: 2px solid light-dark(#00e, #8ab4f8);
  outline-offset: 2px;
}

/* Nav */

nav {
  margin-block-end: 1.5rem;
}

/* Mobile */

@media (max-width: 40em) {
  body {
    padding: 1rem;
  }

  li {
    padding-block: 0.25em;
  }
}
